openapi: 3.0.0
info:
  title: Cloud API
  description: >-
    *At this time, this API is only available to Business Solution Providers
    (BSPs) and existing direct developers.*


    Individual developers and Business Service Providers (BSPs) can now send and
    receive messages using a cloud-hosted version of the WhatsApp Business API.
    Compared to the previous solutions, the cloud-based API is simpler to use
    and is a more cost-effective way for businesses to use WhatsApp.


    Whether you’re a business or a BSP, we think the Cloud API provides great
    benefits when compared to WhatsApp’s On-Premises API.


    # Installation


    ## Quick Installation


    Use the `Run in Postman` button at the top right corner of this doc to
    import this collection into your local Postman app.


    # Environment


    This collection includes a pre-configured environment.


    To run requests in the [Get Started](#01e24b28-7896-4aee-946c-210b6945e50b)
    guide, you need to set the variables in the following table to values that
    make sense for your business:


    | Name | Description |

    | --- | --- |

    | Version | Latest [Graph API
    version](https://developers.facebook.com/docs/graph-api/). For example:
    v13.0 |

    | User-Access-Token | Your user access token after signing up at
    [developers.facebook.com](https://developers.facebook.com). |

    | WABA-ID | Your WhatsApp Business Account (WABA) ID. |

    | Phone-Number-ID | ID for the phone number connected to the WhatsApp
    Business API. You can get this with a [Get Phone Number ID
    request](3184f675-d289-46f1-88e5-e2b11549c418). |

    | Business-ID | Your Business' ID. Once you have your Phone-Number-ID, make
    a [Get Business Profile request](#99fd3743-46cf-46c4-95b5-431c6a4eb0b0) to
    get your Business' ID. |

    | Recipient-Phone-Number | Phone number that you want to send a WhatsApp
    message to. |

    | Media-ID | ID for the media to [send a media
    message](#0a632754-3788-43bf-b785-ac6a73423d5a) or [media template
    message](#439c926a-8a6c-4972-ab2c-d99297716da9) to your customers. |

    | Media-URL | URL for the media to [download media
    content](#cbe5ece3-246c-48f3-b338-074187dfef66). |
  version: 1.0.0
servers:
  - url: https://graph.facebook.com
  - url: http://{{media-url}}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: API Reference
    description: >-
      This section explores the full list of WhatsApp Business Cloud API
      reference. *At this time, this API is only available to Business Solution
      Providers (BSPs) and existing direct developers.*


      This is a list of root nodes and edges available for the WhatsApp Business
      API. See [Using the Graph
      API:Nodes](https://developers.facebook.com/docs/graph-api/overview#nodes)
      for more information on how the API is structured.


      ## Main Root Nodes


      | Node | Description |

      | --- | --- |

      | **`/PHONE_NUMBER_ID`** | Represents a specific phone number. This
      endpoint is used to [set up two-factor
      authentication](#fc57a30c-97e0-4e06-b74b-89fd7fc5f783). |

      | **`/MEDIA_ID`** | Represents a specific media object. Use this endpoint
      to get and delete media objects. |

      | **`/MEDIA_URL`** | Represents a specific media URL. Use this endpoint to
      download media from a URL. |


      ## Phone Number ID


      The **`/PHONE_NUMBER_ID`** endpoint has the following edges:


      | Edge | Description |

      | --- | --- |

      | **`/PHONE_NUMBER_ID/register`** | Used to [register a phone
      number](#149d8034-dca8-4bce-827e-06244127b4b7) or to migrate WhatsApp
      Business Accounts from a current On-Premises deployment to the new
      Cloud-Based API. |

      | **`/PHONE_NUMBER_ID/deregister`** | Used to [deregister a phone
      number](#8f0c509c-ec45-44fb-bfcc-38417ce88e97). |

      | **`/PHONE_NUMBER_ID/whatsapp_business_profile`** | Used to [get and
      update a business' profile](#9bfce27c-ed1f-44b5-82df-b0508210e6be). |

      | **`/PHONE_NUMBER_ID/media`** | Used to [upload
      media](#39a02bc0-ede1-4848-b24e-4ac3d501aaea). |

      | **`/PHONE_NUMBER_ID/messages`** | Used to [send
      messages](#1f4f7644-cc97-40b5-b8e4-c19da268fff1). |

      | **`/PHONE_NUMBER_ID/request_code`** | Used to [request a code to verify
      a phone](#6d413167-648e-40d0-823a-479ec98a2e33) number's ownership. |

      | **`/PHONE_NUMBER_ID/verify_code`** | Used to [verify a phone number's
      ownership](#1426eb2d-3ff2-4cc7-9021-c8782672e151). |
  - name: API Reference > Registration
    description: >-
      You need to register your phone number in the following scenarios:


      *   Account Creation: When you implement this API, you need to register
      the phone number you want to use to send messages. We enforce [setting
      two-step verification](#fc57a30c-97e0-4e06-b74b-89fd7fc5f783) during
      account creation to add an extra layer of security of your accounts.

      *   Name Change: In this case, your phone is already registered and you
      want to change your display name. To do that, you must first [file for a
      name change on WhatsApp
      Manager](https://www.facebook.com/business/help/378834799515077). Once the
      name is approved, you need to register your phone again under the new
      name.
          

      Before registering your phone, you need to verify that you own that phone
      number with a SMS or voice code. For details, see [Verify Phone
      Ownership](https://developers.facebook.com/docs/whatsapp/business-management-api/guides/migrate-phone-to-different-waba#step-2--verify-phone-ownership).


      In case you would like to remove your phone from the Cloud API, you can
      deregister a phone. This can be used in cases where you want to move to
      the On-Premises API or you want to use your phone number in the regular
      WhatsApp customer app. You can always reregister your phone with Cloud API
      later by repeating the registration process.


      **You set up** [**two-factor
      verification**](#fc57a30c-97e0-4e06-b74b-89fd7fc5f783) **and** [**register
      a phone number**](#b22af3db-9d13-4467-a7a6-4026f71984cb) **in the same API
      call.**


      #### Reminders


      *   To use these endpoints, you need to authenticate yourself with a
      system user access token with the **`whatsapp_business_messaging`**
      permission.

      *   If you need to find your phone number ID, see [Get Phone Number
      ID](#c72d9c17-554d-4ae1-8f9e-b28a94010b28).
  - name: API Reference > Account Migration
    description: >-
      Use the **`/{{Phone-Number-ID}}/register`** endpoint to migrate your
      WhatsApp Business Accounts from your current on-premise deployment to the
      new Cloud-Based API. 


      #### Reminders


      * To use this endpoint, you need to authenticate yourself with a system
      user access token with the **`whatsapp_business_management`** permission.


      * If you need to find your phone number ID, see [Get Phone Number
      ID](#c72d9c17-554d-4ae1-8f9e-b28a94010b28).
  - name: API Reference > Business Profiles
    description: >-
      To complete the following API calls, you need to get a business profile
      ID. To do that, make a **GET** call to the **`/{{Phone-Number-ID}}`**
      endpoint and add `business_profile` as a URL field. Within the
      **`business_profile`** request, you can specify what you want to know from
      your business.


      #### Reminders


      * To use this endpoint, you need to authenticate yourself with a system
      user access token with the **`whatsapp_business_management`** permission.
  - name: API Reference > Media
    description: >-
      You can use the following endpoints to upload, retrieve, or delete media:


      | Endpoint       | Uses |

      | ----------- | ---------- |

      | [POST /{phone-number-ID}/media]() | Upload media. |

      | [GET /{media-ID}]() | Retrieve the URL for a specific media item. |

      | [DELETE /{media-ID}]() | Delete a specific media item. |

      | [GET /{media-URL}]() | Download media from a media URL. |


      #### Reminders


      * To use these endpoints, you need to authenticate yourself with a system
      user access token with the **`whatsapp_business_messaging`** permission.

      * If you need to find your phone number ID, see [Get Phone Number
      ID](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/phone-numbers).

      * If you need to find your media URL, see [Retrieve Media
      URL](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media#download-media).


      #### Support Media Types

      | Media       | Supported File Type(s) | Size Limit |

      | ----------- | ----------------------- | ---------- |

      | `audio`       |
      <ul><li>`audio/aac`</li><li>`audio/mp4`</li><li>`audio/mpeg`</li><li>`audio/amr`</li><li>`audio/ogg`</li></ul><br>
      **Note**: only opus codecs, base audio/ogg is not supported | 16MB |

      | `document`    |
      <ul><li>`text/plain`</li><li>`application/pdf`</li><li>`application/vnd.ms-powerpoint`</li><li>`application/msword`</li><li>`application/vnd.ms-excel`</li><li>`application/vnd.openxmlformats-officedocument.wordprocessingml.document`</li><li>`application/vnd.openxmlformats-officedocument.presentationml.presentation`</li><li>`application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`</li></ul>
      | 100MB |

      | `image` | <ul><li>`image/jpeg`</li><li>`image/png`</li></ul> | 5MB |

      | `sticker` | <ul><li>`image/webp`</li></ul> | 100KB |

      | `video` |
      <ul><li>`video/mp4`</li><li>`video/3sp`</li></ul><br/>**Notes**:<ul><li>Only
      H.264 video codec and AAC audio codec is supported.</li><li>We support
      videos with a single audio stream or no audio stream.</li><ul> | 16MB |



      #### Get Media ID

      To complete some of the following API calls, you need to have a media ID.
      There are two ways to get this ID:


      * **From the API call**: Once you have successfully uploaded media files
      to the API, the media ID is included in the response to your call.

      * **From Webhooks**: When a business account receives a media message, it
      downloads the media and uploads it to the Cloud API automatically. That
      event triggers the Webhooks and sends you a notification that includes the
      media ID.
  - name: API Reference > Messages
    description: >-
      <!-- 

      You can use this API to send text messages, media, and message templates
      to your customers. To send a message, create a **Message** object. Each
      message is identified by a unique ID. You can also mark an incoming
      message as read through the `/messages` endpoint. You can track message
      status with Webhooks by ID. 

      -->


      Use the **`/{{Phone-Number-ID}}/messages`** endpoint to send text
      messages, media (audio, documents, images, and video), and message
      templates to your customers. For more information relating to the messages
      you can send, see [Messages](#1f4f7644-cc97-40b5-b8e4-c19da268fff1).


      Messages are identified by a unique ID. You can track message status in
      the Webhooks through its ID. You could also mark an incoming message as
      read through the **`/{{Phone-Number-ID}}/messages`** endpoint.


      ## Prerequisites


      *   [User Access
      Token](https://developers.facebook.com/docs/facebook-login/access-tokens#usertokens)
      with **`whatsapp_business_messaging`** permission

      *   `phone-number-id` for your registered WhatsApp account. See [Get Phone
      Number](#c72d9c17-554d-4ae1-8f9e-b28a94010b28).
  - name: API Reference > Messages > Message Object
    description: >-
      To send a message, you must first assemble a message object with the
      content you want to send. The **`Message Object`** contains the following
      fields used to create a message object:


      #### Fields


      | Name | Description |

      |------|----------|

      |**`messaging_product`** | **Required**. <br/> Messaging service used for
      the request. Always use `"whatsapp"`.|

      |**`recipient_type`** | **Optional**. <br/> Currently, you can only send
      messages to individuals. Set this value to `"individual"`.
      <br/><br/>**Default**: `individual` |

      |**`to`** | **Required**. <br/> WhatsApp ID or phone number for the person
      you want to send a message to.<br></br>See [Phone Numbers,
      Formatting](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/phone-numbers#formatting)
      for more information. |

      |**`type`** | **Optional**. <br/>The type of message you want to send.
      <br/><br/>The supported options for beta users are: <ul><li>**text**: for
      text messages.</li><li>**template**: for template messages. Only
      text-based templates are supported.</li><li>**document**: for document
      messages.</li><li>**image**: for image messages.</li><li>**interactive**:
      for list and reply button messages.</li><li>**audio**: for audio
      messages.</li><li>**contacts**: for contacts
      messages.</li><li>**location**: for location
      messages.</li><li>**sticker**: for sticker messages.</li><li>**video**:
      for video messages.</li></ul><br/>**Default**: `text`|

      |**`text`** | **Required for text messages**.<br/> A [text
      object](#fa59d67b-dc6f-446a-a0fd-f97537afbd2e). |

      |**`audio`** | **Required when `type` is set to `audio`**.<br/> A [media
      object](#77f64012-481d-45d8-855f-e1620c6b2a5e) containing audio. |

      |**`contact`** | **Required when `type` is set to `contacts`**.<br/> A
      [contacts object](#5bb1e554-402c-4278-bce4-657a9c4dc12f).|

      |**`document`** | **Required when `type` is set to `document`**.<br/> A
      [media object](#77f64012-481d-45d8-855f-e1620c6b2a5e) containing a
      document.  |

      |**`image`** | **Required when `type` is set to `image`**.<br/> A [media
      object](#77f64012-481d-45d8-855f-e1620c6b2a5e) containing an image.  |

      |**`interactive`** | **Required when `type` is set to
      `interactive`**.<br/> An [interactive
      object](#68fe0550-aba5-4ee3-b79d-0846f3dddef1). This option is used to
      send List Messages and Reply Buttons.<br/><br/>The components of each
      interactive object generally follow a consistent pattern: **`header`**,
      **`body`**, **`footer`**, and **`action`**. |

      |**`location`** | **Required when type `type` is set to `location`**.<br/>
      A [location object](#2ad90ff7-6fef-40a8-96cf-83f1144763c1).  |

      |**`sticker`** | **Required when `type` is set to `sticker`**.<br/> A
      [media object](#77f64012-481d-45d8-855f-e1620c6b2a5e) containing a
      sticker. Currently, we only support third-party static stickers. The
      sticker needs to be 512x512 pixels. Sticker size needs to be less than 100
      KB.|

      |**`video`** | **Required when `type` is set to `video`**.<br/> A [media
      object](#77f64012-481d-45d8-855f-e1620c6b2a5e) containing a video.  |

      |**`template`** | **Required when type is set to `template`**.<br/> A
      [template object](#fb5ad9b7-7991-443a-a1b5-97fdc5731673).  |
  - name: API Reference > Messages > Message Object > Text Object
    description: >-
      A **`Text Object`** consists of the following fields and formatting
      options:


      #### Fields


      | Name           |  Description |

      |----------------|--------------|

      | **`body`**     | **Required for text messages**.<br/>The text of the
      text message that can contain URLs and supports formatting. To view
      available formatting options, see [Text Object Formatting
      Options](https://developers.facebook.com/docs/whatsapp/api/messages#formatting).
      <br/><br/>If you include URLs in your text **and** want to include a
      preview box in text messages (`"preview_url": true`), ensure it starts
      with `http://` or `https://`. You must include a hostname, since IP
      addresses are not matched.<br/><br/>Maximum length: 4096 characters. |

      |**`preview_url`**<br/>type: `Boolean`| **Optional**.<br/>By default,
      WhatsApp recognizes URLs and makes them clickable, but you can also
      include a preview box with more information about the link. Set this field
      to `true` if you want to include a URL preview box.<br/><br/>The majority
      of the time when you send a URL, whether with a preview or not, the
      receiver of the message will see a URL that they can click
      on.<br/><br/>URL previews are only rendered after one of the following has
      occurred:<ul><li>The business has sent a message template to the
      user.</li><li>The user initiates a conversation with a "click to chat"
      link.</li><li>The user adds the business phone number to their address
      book and initiates a conversation.</li></ul><br/>**Default**: `false`|
  - name: API Reference > Messages > Message Object > Media Object
    description: >-
      The `Media Object` consists of audio, document, image, and video objects.


      #### Fields


      | Name            | Description         |

      |-----------------|---------------------|

      | **`id`**        | **Required when type is an image, audio, document, or
      video and you are not using a link**.<br/>The media object ID. For more
      information, see [Get Media ID](#39a02bc0-ede1-4848-b24e-4ac3d501aaea). |

      | **`link`**      | **Required when type is audio, document, image,
      sticker, or video and you are not using an uploaded media ID.** <br/>The
      protocol and URL of the media to be sent. Use only with HTTP/HTTPS URLs. |

      | **`caption`** | **Optional**.<br/>Describes the specified image, video,
      or document media. Do not use it with audio media.|

      |**`filename`** | **Optional**. <br/> Describes the filename for the
      specific document. Use only with document media.|
  - name: API Reference > Messages > Message Object > Template Object
    description: >-
      The `Template Object` contains the following fields:


      #### Fields


      | Name             | Description              |

      |------------------|--------------------------|

      | **`name`**  |**Required**. <br/> The name of the template. |

      | **`language`**  |**Required**. <br/> Specifies a [language
      object](#d9272e38-c3db-458c-a23b-07953abc73a4). Specifies the language the
      template may be rendered in.<br/><br/>Only the **`deterministic`**
      language policy works with media template messages.|

      | **`component`**  |**Optional**. <br/> An array of [component
      objects](#8225365a-acb8-48c7-8e57-079dfc532865) that contain the
      parameters of the message. |
  - name: API Reference > Messages > Message Object > Language Object
    description: >-
      The `Language Object` contains the following fields:


      #### Fields


      | Name             | Description              |

      |------------------|--------------------------|

      | **`policy`**  |**Optional**. <br/> For more information, see [Language
      Policy
      Options](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#language-policy-options).
      <br/><br/> **Default** (and only supported value): `deterministic`|

      | **`code`**  |**Required**. <br/>The code of the language or locale to
      use. This field accepts both language (for example, `‘en’`) and
      language_locale (for example, `‘en_US’`) formats. <br/> For more
      information regarding all codes, see [Supported
      Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages).
      |
  - name: API Reference > Messages > Message Object > Components Object
    description: >-
      The `Components Object` contains the following fields:


      #### Fields


      | Name             | Description              |

      |------------------|--------------------------|

      | **`type`**  |**Required**. <br/> Describes the component type.
      <br/><br/> **Values**: `header`, `body`, `button` <br/> For text-based
      templates, only `body` is supported. |

      | **`parameters`**  |**Required when type is `button`**. <br/> The
      namespace of the template. |

      | **`sub_type`**  |**Required when type is `button`. Not used for the
      other types.**<br/> The type of button to create. <br/><br/>**Values**:
      `quick_reply`, `url`|

      | **`index`**  |**Required when type is `button`. Not used for the other
      types.** <br/> The position index of the button. You can have up to 3
      buttons using index values of 0 to 2. |
  - name: API Reference > Messages > Message Object > Parameter Object
    description: >-
      The **`Parameter Object`** contains the following fields:


      #### Fields


      | Name             | Description              |

      |------------------|--------------------------|

      | **`type`**       |**Required**. <br/> Describes the parameter type.
      <br/><br/><br/>**Values**: `text`, `currency`, `date_time`, `image`,
      `document`<br/><br/>For text-based templates, the only supported parameter
      types are `text`, `currency`, and `date_time` |

      | **`text`**       |**Required when type=`text`**. <br/> The message of
      the text.<br/>For the `header component`, the character limit is 60
      characters. <br/>For the `body component`, the character limit is 1024.|

      | **`currency`**       |**Required when type is `currency`**. <br/> A
      [currency object](#424b70af-ced8-456d-b1e1-1360c5afb9e9).|

      | **`date_time`**       |**Required when type is `date_time`**. <br/> A
      [date_time object](#ec955b05-7bd4-4273-ad87-ae755b580f6e).|

      | **`image`**       |**Required when type is `image`**. <br/> A [media
      object](#77f64012-481d-45d8-855f-e1620c6b2a5e) of type image.|

      | **`document`**       |**Required when type is `document`**. <br/> A
      [media object](#77f64012-481d-45d8-855f-e1620c6b2a5e) of type document.
      <br/>Only PDF documents are supported for media-based message templates.|
  - name: API Reference > Messages > Message Object > Currency Object
    description: >-
      The `Currency Object` contains the following fields:


      #### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`fallback_value`** |**Required**. <br/> The default text if
      localization fails. <br/> |

      | **`code`**           |**Required**. <br/> The currency code as defined
      in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217#Active_codes). <br/>
      |

      | **`amount_1000`**           |**Required**. <br/> The amount multiplied
      by 1000. <br/> |
  - name: API Reference > Messages > Message Object > Date_Time Object
    description: >-
      The `Date_Time Object` contains the following fields:


      #### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`fallback_value`** | **Required**. <br/> The default text if
      localization fails. |

      | **`day_of_week`**    | **Optional**. <br/> If it is different from the
      value derived from the date (if specified), use the derived value. Both
      strings and numbers are accepted.<br/>Supported values: <ul><li>`"MONDAY"`
      or 1</li><li>`"TUESDAY"` or 2</li><li>`"WEDNESDAY"` or
      3</li><li>`"THURSDAY"` or 4</li><li>`"FRIDAY"` or 5</li><li>`"SATURDAY"`
      or 6</li><li>`"SUNDAY"` or 7</li></ul> |

      | **`year`** | **Optional**. <br/> Specifies the year. |

      | **`month`** | **Optional**. <br/> Specifies the month. |

      | **`day_of_month`** | **Optional**. <br/> Specifies the day of the month.
      |

      | **`hour`** | **Optional**. <br/> Specifies the hour. |

      | **`minute`** | **Optional**. <br/> Specifies the minute. |

      | **`calendar`** | **Optional**. <br/> The type of
      calendar.<br/><br/>**Values**: `"GREGORIAN"` or `"SOLAR_HIJRI"`. |
  - name: API Reference > Messages > Message Object > Button Parameter Object
    description: >-
      The `Button Parameter Object` contains the following fields:


      #### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`type`** | **Required**. <br/> Specifies the type of parameter for the
      button. <br/><br/>**Values**: `payload`,`text`|

      | **`payload`** | **Required for `quick_reply` buttons**. <br/>
      Developer-defined payload that is returned when the button is clicked in
      addition to the display text on the button.<br/><br/>For more information
      on usage, see [Callback from a Quick Reply Button
      Click](#eb99d8fb-170a-4284-b7da-454484a0333a).|

      | **`text`** | **Required for url buttons**. <br/> Developer-provided
      suffix that is appended to the predefined prefix URL in the template.|
  - name: API Reference > Messages > Message Object > Contacts Object
    description: >-
      The `Contacts Object` contains the following fields:


      #### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`addresses`** | **Optional**. <br/> Specifies an array of address
      objects. For more information, see [address
      object](https://developers.facebook.com/docs/whatsapp/api/messages#addresses-object).|

      | **`birthday`** | **Optional**. <br/> A **YYYY-MM-DD** formatted string.|

      | **`emails`** | **Optional**. <br/> Specifies an array of email objects.
      For more information, see [emails
      object](https://developers.facebook.com/docs/whatsapp/api/messages#emails-object).|

      | **`name`** | **Required**. <br/> Specifies the name object. For more
      information, see [name
      object](https://developers.facebook.com/docs/whatsapp/api/messages#name-object).|

      | **`org`** | **Optional**. <br/> Specifies the org object. For more
      information, see [org
      object](https://developers.facebook.com/docs/whatsapp/api/messages#org-object).|

      | **`phones`** | **Optional**. <br/> Specifies an array of phone objects.
      For more information, see [phone
      object](https://developers.facebook.com/docs/whatsapp/api/messages#phone-object).|

      | **`urls`** | **Optional**. <br/> Specifies an array of url objects. For
      more information, see [url
      object](https://developers.facebook.com/docs/whatsapp/api/messages#urls-object).|
  - name: >-
      API Reference > Messages > Message Object > Contacts Object > addresses
      Object
    description: >-
      | Name | Description |

      | --- | --- |

      | **`street`** | **Optional**.  <br>Steet number and name. |

      | **`city`** | **Optional**.  <br>The name of the city. |

      | **`state`** | **Optional**.  <br>The abbreviation name of the state. |

      | **`zip`** | **Optional**.  <br>The ZIP code. |

      | **`country`** | **Optional**.  <br>The full name of the country. |

      | **`country_code`** | **Optional**.  <br>The two-letter country
      abbreviation. |

      | **`type`** | **Optional**.  <br>Standard values: `HOME`, `WORK`. |
  - name: >-
      API Reference > Messages > Message Object > Contacts Object > emails
      Object
    description: |-
      | Name | Description |
      | --- | --- |
      | **`email`** | **Optional**.  <br>Email address. |
      | **`type`** | **Optional**.  <br>Standard Values: `HOME`, `WORK` |
  - name: API Reference > Messages > Message Object > Contacts Object > name Object
    description: >-
      | Name | Description |

      |---|---|

      | **`formatted_name`** | **Required.**<br>Full name, as it normally
      appears. |

      | **`first_name`** | **Optional\*.**<br>First name.|

      | **`last_name`** | **Optional\*.**<br>Last name. |

      | **`middle_name`** | **Optional\*.**<br>Middle name. |

      | **`suffix`** | **Optional\*.**<br>Name suffix.|

      | **`prefix`**| **Optional\*.**<br>Name prefix. |


      * At least one of the optional parameters needs to be included along with
      the **`formatted_name`** parameter.
  - name: API Reference > Messages > Message Object > Contacts Object > org Object
    description: >-
      | Name | Description |

      | --- | --- |

      | **`company`** | **Optional.**  <br>Name of the contact's company. |

      | **`department`** | **Optional.**  <br>Name of the contact's department.
      |

      | **`title`** | **Optional.**  <br>The contact's business title. |
  - name: API Reference > Messages > Message Object > Contacts Object > phone Object
    description: >-
      | Name | Description |

      | --- | --- |

      | **`phone`** | **Optional.**  <br>Automatically populated with the
      **`wa_id`** value as a formatted phone number. |

      | **`type`** | **Optional.**  <br>Standard Values: `CELL`, `MAIN`,
      `IPHONE`, `HOME`, `WORK` |

      | **`wa_id`** | **Optional.**  <br>WhatsApp ID. |
  - name: API Reference > Messages > Message Object > Contacts Object > urls Object
    description: |-
      | Name | Description |
      | --- | --- |
      | **`url`** | **Optional.**  <br>The URL. |
      | **`type`** | **Optional.**  <br>Standard Values: `HOME`, `WORK` |
  - name: API Reference > Messages > Message Object > Location Object
    description: >-
      The `Location Object` contains the following fields:


      <h5>Fields</h5>


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`longitude`** | **Required**. <br/> The longitude of the location.|

      | **`latitude`** | **Required**. <br/> The latitude of the location.|

      | **`name`** | **Optional**. <br/> The name of the location.|

      | **`address`** | **Optional**. <br/> The address of the location. This
      field is only displayed if **`name`** is present.|
  - name: API Reference > Messages > Message Object > Interactive Object
    description: >-
      The **`Interactive Object`** contains four main components: **`header`**,
      **`body`**, **`footer`**, and **`action`**. Additionally, some of those
      components can contain one or more different objects:


      * Inside **`header`**, you can nest **`media`** objects.

      * Inside **`action`**, you can nest **`section**` and **`button`**
      objects.


      #### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`type`**      | **Required**.<br/>The type of interactive message you
      want to send. Supported values:<ul><li>`list`: Use it for List
      Messages.</li><li>`button`: Use it for Reply Buttons.</li></ul>|

      | **`header`**      | **Optional**.<br/>Header content displayed on top of
      a message.|

      | **`body`**      | **Required**.<br/>The body of the message. Emojis and
      markdown are supported.<br/><br/>Maximum length: 1024 characters.|

      | **`footer`**      | **Optional**.<br/>The footer of the message. Emojis
      and markdown are supported.<br/><br/>Maximum length: 60 characters.|

      | **`action`**      | **Required**.<br/>The action you want the user to
      perform after reading the message.|
  - name: >-
      API Reference > Messages > Message Object > Interactive Object > Header
      Object
    description: >-
      ##### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`type`**      | **Required**.<br/>The header type you would like to
      use. Supported values are:<ul><li>`text`: Used for List Messages and Reply
      Buttons.</li><li>`video`: Used for Reply Buttons.</li><li>`image`: Used
      for Reply Buttons.</li><li>`document`: Used for Reply Buttons.</li></ul>|

      | **`text`**      | **Required if `type` is set to `text`**.<br/>The text
      for the header. Formatting allows emojis, but not
      markdown.<br/><br/>Maximum length: 60 characters.|

      | **`video`**      | **Required if `type` is set to
      `video`**.<br/>Contains the **`media`** object for this video.|

      | **`image`**      | **Required if `type` is set to
      `image`**.<br/>Contains the **`media`** object for this image.|

      | **`document`**      | **Required if `type` is set to
      `document`**.<br/>Contains the **`media`** object for this document.|
  - name: >-
      API Reference > Messages > Message Object > Interactive Object > Body
      Object
    description: >-
      ##### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`text`**      | **Required**.<br/>The body content of the message.
      Emojis and markdown are supported. Links are supported.<br/><br/>Maximum
      length: 1024 characters.|
  - name: >-
      API Reference > Messages > Message Object > Interactive Object > Footer
      Object
    description: >-
      ##### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`text`**      | **Required if the `footer` object is
      present**.<br/>The footer content of the message. Emojis and markdown are
      supported. Links are supported.<br/><br/>Maximum length: 60 characters.|
  - name: >-
      API Reference > Messages > Message Object > Interactive Object > Action
      Object
    description: >-
      ##### Fields


      | Name                 | Description              |

      |----------------------|--------------------------|

      | **`button`**      | **Required for all List Messages**.<br/>The Button
      content. It cannot be an empty string and must be unique within the
      message. Does not allow emojis or markdown.<br/><br/>Maximum length: 20
      characters.|

      | **`buttons`**      | **Required for Reply Button**.<br/>A button can
      contain the following parameters:<ul><li>**`type`**: only supported if
      **`type`**=**`reply`**(for Reply Button)</li><li>**`title`**: The Button
      title. It cannot be an empty string and must be unique within the message.
      Does not allow emojis or markdown. Maximum length: 20
      characters.</li><li>**`id`**: Unique identifier for your button. This ID
      is returned in the Webhook when the button is clicked by the user. Maximum
      length: 256 characters.</li></ul><br/>You can have a maximum of 3
      buttons.|

      | **`sections`**      | **Required for all List Messages**.<br/>The array
      of **`section`** objects. There is a minimum of 1 and maximum of 10. For
      more information, see [section object](#).|
  - name: >-
      API Reference > Messages > Message Object > Interactive Object > Section
      Object
    description: >-
      ##### Fields


      | Name | Description |

      | --- | --- |

      | **`title`** | **Required if the message has more than one**
      **`section`**.  <br>The title of the section.  <br>  <br>Maximum length:
      24 characters. |

      | **`rows`** | **Required for List Messages**.  <br>Contains a list of
      rows. You can have a maximum of 10 rows across your sections.  <br> 
      <br>Each row must have a **`title`** (Maximum length: 24 characters) and
      an **`ID`** (Maximum length: 200 characters). You can add a
      **`description`** (Maximum length: 72 characters), but it is optional. |


      ##### **`Rows`** Example


      ``` json

      "rows": [
        {
         "id":"unique-row-identifier-here",
         "title": "row-title-content-here",
         "description": "row-description-content-here",
         }
      ]


      ```
  - name: API Reference > Phone Numbers
    description: >-
      Some API calls listed in this document require you to know your phone
      number’s ID. For more information on how to get a list of phone numbers
      associated with your WhatsApp Business Account, see [Get All Phone
      Numbers](https://developers.facebook.com/docs/whatsapp/business-management-api/phone-numbers#all-phone-numbers).
      The API call response includes IDs for each of the phone numbers connected
      to your WhatsApp Business Account. Save the ID for the phone you want to
      use with any **`/{phone-number-ID}`** calls.
  - name: API Reference > Two-Step Verification
    description: >-
      You are required to set up two-step verification for your phone number, as
      this provides an extra layer of security to the business accounts. To set
      it up, make a **POST** call to **`/{{Phone-Number-ID}}`** and attach the
      following parameters. There is no endpoint to disable two-step
      verification.


      <h5>Reminders</h5>


      * To use these endpoints, you need to authenticate yourself with a system
      user access token with the **`whatsapp_business_messaging`** permission.

      * If you need to find your phone number ID, see [Get Phone Number
      ID](#c72d9c17-554d-4ae1-8f9e-b28a94010b28).
  - name: API Reference > WhatsApp Business Accounts (WABAs)
    description: >-
      Some API calls listed in this document require you to know your WhatsApp
      Business Account (WABA) ID. You have the following methods of getting a
      WABA ID:


      1.  **Business Manager**: This is the most simple way. Just open the
      [Business Manager](https://business.facebook.com/), select your business,
      go to Settings and find your WhatsApp Business Account. When you click on
      the account, you see `"owned by"` and `"id"`. Save that ID number.

      2.  **During Embedded Signup Onboarding**: See [Get Shared WABA ID with
      accessToken](https://developers.facebook.com/docs/whatsapp/embedded-signup/manage-accounts#get-shared-waba-id-with-accesstoken)
      for information.

      3.  **Getting all WABAs shared with your business**: See [Get List of
      Shared
      WABAs](https://developers.facebook.com/docs/whatsapp/embedded-signup/manage-accounts#get-list-of-shared-wabas)
      for information.
  - name: API Reference > WABA Subscriptions
    description: >-
      To get Webhook events for a specific WABA, you need to explicitly
      subscribe to that WABA. You only need to subscribe to a WABA once and then
      you receive all Webhook events for phone numbers under that WABA. You
      don’t need to subscribe for every phone number. 

      <br><br>


      ## Reminders

      - To use these endpoints, you need to authenticate yourself with a [System
      User Access
      Token](https://developers.facebook.com/docs/facebook-login/access-tokens#usertokens)
      with the **`whatsapp_business_management`** permission.

      - WhatsApp Business Account ID (WABA ID). If you need to find your WABA ID
      see [Get WABA ID](#b7f6e513-f4e4-4b62-b4a2-d18dc5e6249c).

      - You need to set up Webhooks server in your application to receive
      Webhooks events. To learn how to set up Webhooks, see
      [Webhooks](#41946d3c-6460-4bc2-963f-d5732e48e84e).
paths:
  /{Version}/{Phone-Number-ID}/register:
    post:
      tags:
        - API Reference > Account Migration
      summary: Migrate Account
      description: >-
        To migrate your account, make a **POST** call to the
        **`/{{Phone-Number-ID}}/register`** endpoint and include the parameters
        listed below. 


        Your request may take as long as 15 seconds to finish. During this
        period, your on-premise deployment is automatically disconnected from
        WhatsApp server and shutdown; the business account will start up in the
        cloud-hosted service at the same time. After the request finishes
        successfully, you can send messages immediately.


        ## Request Parameters

        | Name                  | Description               |

        |-----------------------|---------------------------|

        |**`messaging_product`**| **Required**.<br/>Messaging service used for
        the request. For account migration, always use `"whatsapp"`. 

        | **`pin`**             |**Required**.<br/>A 6-digit pin you have
        previously set up — See [Set Two-Step
        Verification](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/two-step-verification)
        If you use the wrong pin, your on-premise deployment will be down and
        will be disconnected from the WhatsApp servers.<br/>If you haven't set
        up or you have disabled two-step verification, provide a random 6-digit
        pin in the request, and this will be used to enable two-step
        verification in the WhatsApp Business Cloud-Based API. |

        |**`backup.data`** | **Required**.<br/>The data value you get when you
        backup your on-premise deployment. This contains the account
        registration info and application settings. <br/>For more information,
        see [Backup and
        Restore](https://developers.facebook.com/docs/whatsapp/api/settings/backup-and-restore)
        to backup your on-premise implementation. |

        |**`backup.password`** | **Required**.<br/>The password you used in the
        backup API of your On-Premise deployment.|
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                messaging_product: whatsapp
                pin: 6-digit-pin
                backup:
                  data: backup_data
                  password: password
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: 'true'
  /{Version}/{Phone-Number-ID}/deregister:
    post:
      tags:
        - API Reference > Registration
      summary: Deregister Phone
      description: >-
        To deregister your phone, make a **POST** call to
        **`{{Phone-Number-ID}}/deregister`**. **Deregister Phone** removes a
        previously registered phone. You can always re-register your phone using
        by repeating the registration process.


        #### Response


        A successful response returns:


        ``` json

        {
            "success": true
        }


        ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: ''
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        undefined:
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
  /{Version}/{Phone-Number-ID}/whatsapp_business_profile:
    get:
      tags:
        - API Reference > Business Profiles
      summary: Get Business Profile ID
      description: >-
        To complete the following API calls, you need to get a business profile
        ID. To do that, make a **GET** call to the **`/{{Phone-Number-ID}}`**
        endpoint and add **`whatsapp_business_profile`** as a URL field. Within
        the **`whatsapp_business_profile`** request, you can specify what you
        want to know from your business. 


        ## Fields


        | Name                    | Description                          |

        |-------------------------|--------------------------------------|

        | **`id`**                | **Required**.<br/>The ID of the business
        profile object. |

        | **`messaging_product`** | **Required**.<br/>The messaging service used
        for the request. Always set the value to `"whatsapp"` if you are using
        WhatsApp for Business API.|

        | **`address`**           | The address of the business. The maximum
        character limit for the string is 256. |

        | **`description`** |Description of the business. The maximum character
        limit for the string is 256. |

        | **`vertical`** | **Optional**. <br/>The industry type of the business.
        This can be either an empty string or one of the accepted
        values<br/><br/>**Values**: `UNDEFINED`, `OTHER`, `AUTO`, `BEAUTY`,
        `APPAREL`, `EDU`, `ENTERTAIN`, `EVENT_PLAN`, `FINANCE`, `GROCERY`,
        `GOVT`, `HOTEL`, `HEALTH`, `NONPROFIT`, `PROF_SERVICES`, `RETAIL`,
        `TRAVEL`, `RESTAURANT`, or `NOT_A_BIZ`.|

        | **`email`** | **Optional**. <br/>The contact email address (in valid
        email format) of the business. The maximum character limit for the
        string is 128 characters.|

        | **`websites`** | **Optional**. <br/>The URLs associated with the
        business. For instance, a website, Facebook Page, or Instagram. You must
        include the http:// or https:// portion of the URL. There is a maximum
        of 2 websites with a maximum of 256 characters each. |

        | **`profile_picture_url`** | **Optional**. <br/>The handle of the
        profile picture generated from a call to the Resumable Upload API.|
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - business_profile:
                      messaging_product: whatsapp
                      address: business-address
                      description: business-description
                      vertical: business-industry
                      about: profile-about-text
                      email: business-email
                      websites:
                        - https://website-1
                        - https://website-2
                      profile_picture_url: https://pps.whatsapp.net/...
                      id: business-profile-id
                    id: phone-number-id
    post:
      tags:
        - API Reference > Business Profiles
      summary: Update Business Profile
      description: >-
        Update the business profile information such as the business
        description, email or address. To update your profile, make a **POST**
        call to **`/{{Phone-Number-ID}}/whatsapp_business_profile`**. In your
        request, you can include the parameters listed below.


        ## Request Parameters


        | Name                    | Description                          |

        |-------------------------|--------------------------------------|

        | **`messaging_product`** | **Required**.<br/>The messaging service used
        for the request. Always set the value to `"whatsapp"` if you are using
        WhatsApp for Business API.|

        | **`address`**           | **Optional**.<br/>The address of the
        business. The maximum character limit for the string is 256. |

        | **`description`** | **Optional**.<br/>Description of the business. The
        maximum character limit for the string is 256. |

        | **`vertical`** | **Optional**. <br/>The industry type of the business.
        This can be either an empty string or one of the accepted
        values.<br/><br/>**Values**: `UNDEFINED`, `OTHER`, `AUTO`, `BEAUTY`,
        `APPAREL`, `EDU`, `ENTERTAIN`, `EVENT_PLAN`, `FINANCE`, `GROCERY`,
        `GOVT`, `HOTEL`, `HEALTH`, `NONPROFIT`, `PROF_SERVICES`, `RETAIL`,
        `TRAVEL`, `RESTAURANT`, or `NOT_A_BIZ`.|

        | **`email`** | **Optional**. <br/>The contact email address (in valid
        email format) of the business. The maximum character limit for the
        string is 128 characters.|

        | **`websites`** | **Optional**. <br/>The URLs associated with the
        business. For instance, a website, Facebook Page, or Instagram. You must
        include the http:// or https:// portion of the URL. There is a maximum
        of 2 websites with a maximum of 256 characters each. |

        | **`profile_picture_handle`** | **Optional**. <br/>The handle of the
        profile picture generated from a call to the Resumable Upload API.|
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                messaging_product: whatsapp
                address: business-address
                description: business-description
                vertical: business-industry
                email: business-email
                websites:
                  - https://website-1
                  - https://website-2
                profile_picture_url: URL of profile picture
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
  /{Version}/{Phone-Number-ID}/media:
    post:
      tags:
        - API Reference > Media
      summary: Upload Media
      description: >-
        To upload media, make a **POST** call to
        **`/{{Phone-Number-ID}}/media`** and include the parameters listed
        below. All media files sent through this endpoint are encrypted and
        persist for 30 days. 


        ## Prerequisites

        | Endpoint       | Authentication |

        |---|---|

        | **`/{{Phone-Number-ID}}/media`** (see [Get Phone
        Numbers](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/phone-numbers))
        | Authenticate yourself with a [system user access
        token](https://developers.facebook.com/docs/facebook-login/access-tokens#usertokens)
        with **`whatsapp_business_messaging`** permission.|


        ## Request Parameters


        | Name          |  Description   |

        | ------------- | ------------- |

        | **`file`**   | **Required**<br/> The path to the file stored in your
        local directory. For example: `“@/local/path/file.jpg”`. |

        | **`type`**   | **Required**<br/>The type of media file to upload.
        <br/><br/> Supported options for images
        are:<ul><li>`image/jpeg`</li><li>`image/png`</li></ul> <br/>Supported
        options for audio are:
        <ul><li>`audio/aac`</li><li>`audio/mp4`</li><li>`audio/mpeg`</li><li>`audio/amr`</li><li>`audio/ogg`</li></ul>
        <br>Supported options for documents are:
        <ul><li>`text/plain`</li><li>`application/pdf`</li><li>`application/vnd.ms-powerpoint`</li><li>
        `application/msword`</li><li>`application/vnd.ms-excel`</li><li>`application/vnd.openxmlformats-officedocument.wordprocessingml.document`</li><li>`application/vnd.openxmlformats-officedocument.presentationml.presentation`</li><li>`application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`</li></ul><br/>Supported
        options for stickers are: <ul><li>`image/webp`</li></ul><br/>Supported
        options for video are:
        <ul><li>`video/mp4`</li><li>`video/3gp`</li></ul><br/> See [Supported
        Media
        Types](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media#supported-media-types)
        for more information.|

        | **`messaging_product`**   | **Required**<br/> The messaging service
        used for the request. This value is case-sensitive and is always
        **`whatsapp`**. |


        ## Response Parameter


        | Name          |  Description   |

        | ------------- | ------------- |

        | **`id`**   | The identifier for the media. The identifier allows you
        to download media and send a media message or media template message to
        your customers.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                messaging_product: whatsapp
                file: '@/local/path/file.jpg'
                type: <MEDIA_TYPE>
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Upload Image
                  value:
                    id: '4490709327384033'
                example-1:
                  summary: Upload Sticker File
                  value:
                    id: '4490709327384033'
  /{Version}/{Media-ID}:
    get:
      tags:
        - API Reference > Media
      summary: Retrieve Media URL
      description: >-
        To retrieve your media’s URL, make a **GET** call to
        **`/{{Media-ID}}`**. Later, you can use this URL to download the media
        file.


        #### Response


        A successful response includes an object with a media URL. The URL is
        only valid for 5 minutes.
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Media-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                messaging_product: whatsapp
                url: <URL>
                mime_type: image/jpeg
                sha256: <HASH>
                file_size: '303833'
                id: '2621233374848975'
    delete:
      tags:
        - API Reference > Media
      summary: Delete Media
      description: >-
        To delete media, make a **DELETE** call to the ID of the media you want
        to delete.


        ## Prerequisites

        - [User Access
        Token](https://developers.facebook.com/docs/facebook-login/access-tokens#usertokens)
        with **`whatsapp_business_messaging`** permission

        - Media object ID from either uploading media endpoint or media message
        Webhooks


        ## Request

        [Perform requests in Graph API
        Explorer](https://developers.facebook.com/tools/explorer/?method=DELETE&path=media_id&version=v8.0)
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Media-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
  /:
    get:
      tags:
        - API Reference > Media
      summary: Download Media Content
      description: >-
        When you retrieve a media URL through the **GET** Media endpoint, you
        must use a User Access Token to download media content from the URL. If
        you click the URL from a browser, you will get an access error. <br/>

        > **Note**: all media URLs will expire after 5 minutes, you need to
        retrieve the media URL again if it expires.


        ## Prerequisites

        - [User Access
        Token](https://developers.facebook.com/docs/facebook-login/access-tokens#usertokens)
        with **`whatsapp_business_messaging`** permission

        - A media URL obtained from retrieving media url endpoint 


        ## Response:

        If successful,  you receive the binary data of media saved in
        **`media_file`**, response headers contain a `content-type` header to
        indicate the mime type of returned data. For more information, see
        [supported media types](#8e9f5aa0-6cfb-4cf8-b2ab-3c1d4064a535).


        If media fails to download, you receive a **404 Not Found** response
        code. In that case, we recommend that you try to [Retrieve Media
        URL](#f433073b-7ec6-47c5-9d2f-5ebf3c57ca1a) and download again.
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: ''
  /{Version}/{Phone-Number-ID}/messages:
    post:
      tags:
        - API Reference > Messages
      summary: Send Reply Button
      description: >-
        To send interactive messages, make a **POST** call to
        `/PHONE_NUMBER_ID/messages`(see [Get Phone
        Number](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/phone-numbers))
        and attach a message object with **`type`**\=`interactive`. Then, add an
        [interactive object](#).


        ## Response

        A successful response includes an object with an identifier prefixed
        with wamid. Use the ID listed after wamid to track your message status.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                messaging_product: whatsapp
                recipient_type: individual
                to: '{{Recipient-Phone-Number}}'
                type: interactive
                interactive:
                  type: button
                  body:
                    text: Are you hungry?
                  action:
                    buttons:
                      - type: reply
                        reply:
                          id: unique-id-123
                          title: 'Yes'
                      - type: reply
                        reply:
                          id: unique-id-456
                          title: 'No'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        undefined:
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                messaging_product: whatsapp
                contacts:
                  - input: PHONE_NUMBER
                    wa_id: WHATSAPP_ID
                messages:
                  - id: wamid.ID
    put:
      tags:
        - API Reference > Messages
      summary: Mark Message As Read
      description: >-
        When you receive an incoming message from Webhooks, you could use
        messages endpoint to change the status of it to read.  

        We recommend marking incoming messages as read within 30 days of
        receipt.  

        **Note**: you cannot mark outgoing messages you sent as read.


        You need to obtain the **`message_id`** of the incoming message from
        Webhooks.


        For a more in depth guide for marking messages as read, see [Guide: Mark
        Messages as Read](#30b8fedf-3326-4aa0-91f4-bf5d52c0f127).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                messaging_product: whatsapp
                status: read
                message_id: incoming-message-id
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
  /{Version}/{WABA-ID}/phone_numbers:
    get:
      tags:
        - API Reference > Phone Numbers
      summary: Get Phone Numbers
      description: >-
        This API returns all phone numbers in a WhatsApp Business Account
        specified by the **`{{WABA-ID}}`** value. Get the **`id`** value for the
        phone number you want to use to send messages with WhatsApp Business
        Cloud API.


        #### Response Parameters


        | Name                  | Description                 |

        |-----------------------|-----------------------------|

        | **`verified_name`**         | The verified name associated with the
        phone number.  |

        | **`display_phone_number`**  | The string representation of the phone
        number.       |

        | **`id`**                    | The ID associated with the phone
        number.                            |

        | **`quality_rating`**        | The quality rating of the phone number
        based on how messages have been received by recipients in recent days.
        Valid values are: <br/><ul><li>**`Green`**: High
        Quality</li><li>**`Yellow`**: Medium Quality</li><li>**`Red`**: Low
        Quality</li><li>**`NA`**: Quality has not been determined</li></ul> 
        <br/>For more information relating to quality rating, see [About
        WhatsApp Business Account Message Quality
        Rating](https://www.facebook.com/business/help/896873687365001).                    
        |
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: WABA-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - verified_name: Jasper's Market
                    display_phone_number: +1 631-555-5555
                    id: '1906385232743451'
                    quality_rating: GREEN
                  - verified_name: Jasper's Ice Cream
                    display_phone_number: +1 631-555-5556
                    id: '1913623884432103'
                    quality_rating: NA
  /{Version}/{Phone-Number-ID}:
    get:
      tags:
        - API Reference > Phone Numbers
      summary: Get Phone Number By ID
      description: >-
        When you query all the phone numbers for a WhatsApp Business Account,
        each phone number has an **`id`**. You can directly query for a phone
        number using this **`id`**.


        #### Response Parameters


        | Name                  | Description                 |

        |-----------------------|-----------------------------|

        | **`verified_name`**         | The verified name associated with the
        phone number.  |

        | **`display_phone_number`**  | The string representation of the phone
        number.       |

        | **`id`**                    | The ID associated with the phone
        number.                            |

        | **`quality_rating`**        | The quality rating of the phone number
        based on how messages have been received by recipients in recent days.
        Valid values are: <br/><ul><li>**`Green`**: High
        Quality</li><li>**`Yellow`**: Medium Quality</li><li>**`Red`**: Low
        Quality</li><li>**`NA`**: Quality has not been determined</li></ul> 
        <br/>For more information relating to quality rating, see [About
        WhatsApp Business Account Message Quality
        Rating](https://www.facebook.com/business/help/896873687365001).                    
        |
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                verified_name: Jasper's Market
                display_phone_number: +1 631-555-5555
                id: '1906385232743451'
                quality_rating: GREEN
    post:
      tags:
        - API Reference > Two-Step Verification
      summary: Set Two-Step Verification Code
      description: >-
        You can use this endpoint to change two-step verification code
        associated with your account. 

        After you change the verification code, future requests like changing
        the name, must use the new code. 


        **You set up two-factor verification and [register a phone
        number](#b22af3db-9d13-4467-a7a6-4026f71984cb) in the same API call.**


        You must use the parameters listed below to change two-step
        verification 



        ## Parameters


        | Name          |  Description   |

        |-------------- |--------------- |

        | **`pin`**   | **Required**.<br/> A 6-digit PIN you want to use for
        two-step verification. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                pin: <6-digit-pin>
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
  /{Version}/{Phone-Number-ID}/request_code:
    post:
      tags:
        - API Reference > Phone Numbers
      summary: Request Verification Code
      description: >-
        You need to verify the phone number you want to use to send messages to
        your customers. Phone numbers must be verified through SMS/voice call.
        The verification process can be done through the Graph API calls
        specified below.
            

        To verify a phone number using Graph API, make a **POST** request to
        **`{{PHONE_NUMBER_ID}}/request_code`**. In your call, include your
        chosen verification method and locale. You need to authenticate yourself
        using **{{User-Access-Token}}** (This is automatically done for you in
        the **`Request Verification Code`** request).


        #### Request Parameters


        | Name                  | Description                 |

        |-----------------------|-----------------------------|

        | **`code_method`**         | **Required**.<br/>Specifies the method for
        verification. Supported options are: `SMS` or `VOICE`.  |

        | **`locale`**         | **Required**.<br/>Specifies your locale. For
        instance: `"en_US"`.  |


        #### Response


        After a successful call to **`Request Verification Code`**, you will
        receive your verification code via the method you selected in
        **`code_method`**. To finish the verification process, you need to use
        the [**`Verify Code`**]() request.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                code_method: SMS
                locale: en_US
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{User-Access-Token}}
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        undefined:
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
  /{Version}/{Phone-Number-ID}/verify_code:
    post:
      tags:
        - API Reference > Phone Numbers
      summary: Verify Code
      description: >-
        After you received a SMS or Voice request code from [**`Request
        Verification Code`**](), you need to verify the code that was sent to
        you. To verify this code, make a **POST** request to
        **`{{PHONE_NUMBER_ID}}/verify_code`** that includes the code as a
        parameter.


        #### Request Parameters


        | Name                  | Description                 |

        |-----------------------|-----------------------------|

        | **`code`**<br/>type: Numeric String | **Required**.<br/>The code you
        received after calling [**`Request Verification
        Code`**]()(**`{{PHONE_NUMBER_ID}}/request_code`**).  |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                code: <your-requested-code>
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{User-Access-Token}}
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Phone-Number-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        undefined:
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
  /{Version}/debug_token:
    get:
      tags:
        - API Reference > WhatsApp Business Accounts (WABAs)
      summary: Get Shared WABA ID
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  app_id: facebook-app-id
                  type: USER
                  application: app-name
                  data_access_expires_at: 1600000000
                  expires_at: 1600000000
                  is_valid: true
                  scopes:
                    - whatsapp_business_management
                    - public_profile
                  granular_scopes:
                    - scope: whatsapp_business_management
                      target_ids:
                        - '111111111111111'
                        - '222222222222222'
                        - '333333333333333'
                  user_id: XXXXXXXXXXXXXXX
  /{Version}/{Business-ID}/client_whatsapp_business_accounts:
    get:
      tags:
        - API Reference > WhatsApp Business Accounts (WABAs)
      summary: Get List of Shared WABAs
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: Business-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - id: 1906385232743451
                    name: My WhatsApp Business Account
                    currency: USD
                    timezone_id: '1'
                    message_template_namespace: abcdefghijk_12lmnop
                  - id: 1972385232742141
                    name: My Regional Account
                    currency: INR
                    timezone_id: '5'
                    message_template_namespace: 12abcdefghijk_34lmnop
                paging:
                  cursors:
                    before: abcdefghij
                    after: klmnopqr
  /{Version}/{WABA-ID}/subscribed_apps:
    post:
      tags:
        - API Reference > WABA Subscriptions
      summary: Create a Subscription to WABA
      description: Subscribe an app to a WhatsApp Business Account.
      requestBody:
        content: {}
      parameters:
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: WABA-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
    get:
      tags:
        - API Reference > WABA Subscriptions
      summary: Get Subscribed Apps
      description: >-
        You could also list all the current app subscriptions to a given
        WhatsApp Business Account.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{User-Access-Token}}
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: WABA-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - whatsapp_business_api_data:
                      link: Application 1 link
                      name: Application 1 Name
                      id: '7234002551525653'
                  - whatsapp_business_api_data:
                      link: Application 2 link
                      name: Application 2 Name
                      id: '3736565603394103'
    delete:
      tags:
        - API Reference > WABA Subscriptions
      summary: Delete WABA Subscription
      description: >-
        If you don’t want an application to receive webhooks for a given
        WhatsApp Business Account anymore you can delete the subscription.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{User-Access-Token}}
        - name: Version
          in: path
          schema:
            type: string
          required: true
        - name: WABA-ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
